<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/common.css" rel="stylesheet" />
    <link href="/styles/frontpage.css" rel="stylesheet" />


  </head>
  <body>
    <%= header %>

    <section>
      <% _.each(items, function(item) {
        %>
        <a class="item" href="catalog/<%= item.name %>">
          <img src="<%= item.img %>"></img>
          <div class="title">
            <%= item.name %>
          </div>
        </a>
        <%
      }) %>
    </section>
    <%= footer %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/header.js"></script>
  </body>
</html>
