<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/common.css" rel="stylesheet" />
    <link href="/styles/infoview.css" rel="stylesheet" />

  </head>
  <body>
    <%= header %>

    <section class="info">
       <p> Moln son fundas blanditas y mulliditas para tu iPad, portátil, ebook, etc. Las fundas moln están completamente hechas a mano, desde el primer al último pespunte, con telas elegidas con cuidado para que duren y protejan y que además sean bonitas. </p><p>Soy Sheila, una ingeniera de Telecomunicaciones que vive en Madrid, con una especie de diógenes textil. Una de las cosas que más me gustan, es rebuscar entre rollos de tela, bien sea en Madrid o cuando estoy de viaje, así que todo este stockage de tela se traduce en Moln. Espero que os guste!</p><p> Si quieres contactar conmigo, puedes escribirme a: <br/> <a href = 'mailto:molnbutik@gmail.com' > molnbutik@ gmail.com </a> </p> <p>Puedes encontrar fundas moln en: <p class="docManzanaTittle">Doctor Manzana</p> Avda. Reino de Valencia 18 <br/>46005, Valencia</p>
	   <a href="http://www.doctormanzana.com/"><img src="/assets/pictures/doctormanzana.jpg"></a>
    </section>

    <%= footer %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/lightbox.js"></script>
  </body>
</html>
