<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href="/styles/common.css" rel="stylesheet" />
    <link href="/styles/itemview.css" rel="stylesheet" />

  </head>
  <body>
    <%= header %>

    <section class="itemView">
      <div class="images">
        <div class="mainImage">
          <img data-lightbox="lightboxImage" src="<%= data.imgs[0].mediumSize %>"></img>
          <div class="lightbox full" id="lightboxImage">
            <img src="<%= data.imgs[0].bigSize %>"></img>
          </div>
        </div>
        <div class="imageCarousel">
          <% _.each(data.imgs, function(img) {
            %>
            <div class="miniImg" data-src="<%= img.bigSize %>" data-medium="<%= img.mediumSize %>">
              <img src="<%= img.thumbnail %>"></img>
            </div>

          <% }) %>
        </div>
      </div>
      <div class="info">
        <div class="name">
          <%= data.name %>
        </div>
        <div class="videoLink">
          <%
            if(data.video) {
            %>
            <a data-lightbox="videoLightbox" target="_blank">▶</a>
            <div id='videoLightbox' class="lightbox"><iframe width="640" height="480" src="<%= data.video %>" frameborder="0" allowfullscreen></iframe></div>
            <%
            }
          %>
        </div>
        <div class="cloth">
          <%= data.text[language] %>
        </div>
      </div>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/carousel.js"></script>
  </body>
</html>
