section.info {
  margin: auto;
  padding-top: 2em;
  max-width: 800px;
  text-align: justify; font-size:14px;

}

section.info p { margin-bottom: 10px; line-height: 20px;}
.docManzanaTittle{ font-weight: bold;}