body {
  text-align: center;
}

.itemView {
  font-family: 'questrial';
  display: inline-block;
  margin: 2em auto;
  width: 1024px;
}

.itemView .images {
  width: 60%;
  float: left;
  text-align: right;
}

.itemView .images .mainImage {
  float: left;
  width: 80%;
}
.itemView .images .mainImage img {
  width: 100%;
  cursor: pointer;
}

.itemView .images .imageCarousel {
  float: right;
  display: inline-block;
  width: 20%;
}

.itemView .images .imageCarousel .miniImg{
  width: 80%;
  margin: 0 10% 10% 10%;
  cursor: pointer;
}

.itemView .images .imageCarousel img {
  width: 100%;
}

.itemView .info {
  width: 35%;
  float: right;
  text-align: left;
}

.itemView .info .name {
  width: 80%;
  margin-bottom: 2em;
  font-weight: bold;
  float: left;
}

.itemView .info .videoLink {
  width: 20%;
  float: right;
  font-size: 18px;
}
.itemView .info .videoLink a {
  text-decoration: none;
  position: relative;
  top: -5px;
}

.cloth {
  display: inline-block;
}

.cloth br {
  height: 2em;
  margin-top: 2em;
  display: block;
}